.DS_Store
.classpath
.project
.settings
*.bak
*.iml
*.iws
*.log
/.idea
/bin
/cobertura.ser
/grails-spring-security-jaxrs-*.zip
/grails-spring-security-jaxrs-*.zip.sha1
/out
/plugin.xml
/target
/target-eclipse
/web-app
build/
.gradle/
